<html>
<head>
    <title>Home Page</title>
</head>
<body>
<#-- вызываем метод POST адресу /users/new -->
<form action="/search" method="post">
    <input name="email" type="text" placeholder="enter email">
    <input type="submit">
</form>
</body>
</html>