.form-style-2 {
    max-width: 500px;
    padding: 80px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-2-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

.form-style-2 label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.form-style-2 input[type=submit],
.form-style-2 input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover {
    background: #EA7B00;
    color: blue;
}
.nav-bar{
    /*font-family:'Charmonman', sans-serif;*/
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family:'Oswald', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}
.nav-bar div {
    position: absolute;
    top: 30px;
    left: 90px;

}
.nav-bar div a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
}
